<h1>Detalle de producto</h1>
<table>
    <tr>
    <td>
        <img width="50%" src="https://th.bing.com/th/id/OIP.YlQ6Kgdrg7toov9djA3SUgHaHy?w=173&h=182&c=7&r=0&o=5&pid=1.7" alt="Lejía conejo">
    </td>
    <td>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quos ullam tenetur labore tempore error reiciendis cupiditate vero corporis, vel voluptatem, impedit saepe a est ipsum molestias hic quia ut?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis recusandae maxime tempora fugit omnis ab enim nulla vel odio accusamus. Aperiam error laborum ut unde eligendi, excepturi esse a. Eos.</p>
    </td>
</tr>
</table>

